<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/css/auth/signup.css" />
  <title>EmoChat | 회원가입</title>
</head>
<body>
  <form id="signup-form">
    <h2>회원가입</h2>
    <input type="text" id="username" placeholder="닉네임" required />
    <input type="email" id="email" placeholder="이메일" required />
    <input type="password" id="password" placeholder="비밀번호" required />
    <button type="submit">회원가입</button>
    <button id="login-btn" type="button">로그인</button>
  </form>

  <script src="/static/js/auth/signup.js"></script>
  <script src="/static/js/navigate/navigate.js"></script>
</body>
</html>
